body{
    margin :0;
    background-color: #cfc2dc;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: teal;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 30px 40px;
    font-size: 22px;
}

#lista{
    margin-top: 100px;
}
.card{
    background-color: white;
    padding: 30px;
    margin: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.1)
}
.card h2{
    margin-top: 0;
}